{
  "token": "Nj-R7Q8vLWAZV_4uc9jE",
  "serverID": "637368612545626142",
  "channelID": "637375260030664706",
  "reactionEmoji": "⭐",
  "threshold": 1,
  "hexcolor": "00AE86",
  "dateCutoff": 3,
  "fetchLimit": 100
}
